<div class="card">

    <div class="card-header bg-dark">
        <h3 class="card-title text-white">
            <i class="far fa-image"> </i>
            carga una imagen
        </h3>

    </div>
    <div class="card-body">
        <form action="/images" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" name="image" class="custom-file-input" id="inputGroup"
                            aria-describedby="inputGroupFileAddon" required>
                        <label class="custom-file-label" for="inputGroup">Elige tu archivo</label>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group">
                <input type="text" name="title" class="form-control" placeholder="Titulo para la imagen" required>
            </div>
            <br>
            <div class="form-group">
                <textarea name="description" rows="2" class="form-control" placeholder="Descripcion para la imagen"
                    required></textarea>
            </div>
            <br>
            <div class="form-group">
                <button type="submit" class="btn btn-success">
                    <i class="fa-solid fa-upload"></i> Subir

                </button>
            </div>

        </form>

    </div>
</div>



   <div class="card  mt-2">

        
        <div class="card-header bg-dark text-white">
            <h3><i class="far fa-images"></i>Recientes</h3>
        </div>
        <div class="card-body">
            <div class="row">
                {{#each images}}
                <div class="col-md-4">
                   <a href="/images/{{uniqueId}}">
                        <img src="/public/upload/{{filename}}" alt="{{uniqueId}}" class="w-100 h-100 img-thumbnail">
                        </a>
                </div>
                {{/each}}
            </div>
            
            
        

        </div>

    </div>

